/* =============================================
            RESET STYLES
============================================ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* =============================================
            GENERAL STYLES
============================================ */

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #111111;
  background-color: #fafafa;
}

.italic-part {
  font-style: italic;
}

.orange-part {
  color: #fd9222;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 367px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section-paddings {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }

  .section-paddings {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1168px) {
  .container {
    max-width: 1168px;
  }

  .section-paddings {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* =============================================
            HEADER
============================================ */
.nav-list {
  display: none;
}

.socials-list {
  display: none;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

.logo-icon {
  stroke: #fd9222;
  margin-left: 4px;
  width: 21px;
  height: 21px;
}

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 20px;
    padding-bottom: 14px;
  }

  .burger-btn {
    display: block;
    padding: 0;
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    margin-left: auto;
    stroke: #111111;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #1e1823;
    color: #ffffff;
    overflow-y: auto;
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    transform: translate(0);
  }

  .mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 136px;
    padding-bottom: 20px;
    height: 100%;
  }

  .close-menu-btn {
    position: absolute;
    top: 20px;
    right: 16px;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;
    padding: 0;
    stroke: #ffffff;
  }

  .mobile-menu-nav {
    margin-bottom: auto;
  }

  .mobile-menu-nav-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .mobile-menu-nav-link {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: -0.02em;
  }

  .mobile-menu-nav-item:first-child {
    color: #fd9222;
  }

  .mobile-menu-socials-list {
    display: flex;
    gap: 18px;
  }

  .mobile-menu-socials-item-link {
    fill: transparent;
    stroke-width: 1.5px;
    stroke: #fff;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .logo {
    margin-right: 101px;
  }

  .nav-list {
    display: flex;
    column-gap: 24px;
  }

  .nav-link {
    display: block;
    font-weight: 500;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #fd9222;
  }

  .socials-list {
    display: flex;
    align-items: center;
    column-gap: 18px;
    line-height: 0;
  }

  .socials-item-link {
    display: block;
    fill: none;
    stroke: #111111;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socials-item-link:hover,
  .socials-item-link:focus {
    stroke: #fd9222;
  }
}

@media screen and (min-width: 1168px) {
  .logo {
    font-size: 18px;
    line-height: 1.11;
    margin-right: 0;
  }

  .logo-icon {
    width: 24px;
    height: 24px;
  }

  .nav-list {
    flex-grow: 1;
    justify-content: flex-end;
  }

  .socials-list {
    margin-left: 90px;
  }
}

/* =============================================
            HERO
============================================ */
.hero-wrapper {
  border-radius: 30px;
  max-width: 375px;
  background-color: #1e1823;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  color: #ffffff;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/hero-img.jpg);
  background-position: center;
  overflow: hidden;
}

.hero-container {
  padding-top: 395px;
  padding-bottom: 20px;
  padding-left: 36px;
  padding-right: 36px;
}

.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  max-width: 290px;
  margin-bottom: 32px;
}

.hero-interact-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  border-radius: 100px;
  padding: 12px 28px;
  background-color: #fd9222;
  border: none;
  margin-right: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
  outline: transparent;
}

.how-its-made-scroll {
  font-weight: 600;
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 12px 28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.how-its-made-scroll:hover,
.how-its-made-scroll:focus {
  border-color: #fd9222;
  color: #fd9222;
  outline: transparent;
}

.scroll-downd-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 32px;
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.scroll-downd-link:hover,
.scroll-downd-link:focus {
  color: #fd9222;
}

.scroll-downd-link-icon-wrapper {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fd9222;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.scroll-downd-link:hover .scroll-downd-link-icon-wrapper {
  background-color: #fd9222;
  fill: #ffffff;
}

.scroll-downd-link-icon {
  width: 16px;
  height: 16px;
}

@media screen and (min-resolution: 192dpi) {
  .hero-wrapper {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero-img@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-wrapper {
    max-width: 768px;
    margin-bottom: 40px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero-img-tablet.jpg);
  }

  .hero-container {
    padding-top: 671px;
    padding-bottom: 40px;
    padding-left: 56px;
    padding-right: 56px;
  }

  .hero-title {
    font-size: 28px;
    line-height: 1.21;
    max-width: 484px;
  }

  .hero-btn {
    padding: 14px 40px;
  }

  .how-its-made-scroll {
    padding: 14px 40px;
  }

  .scroll-downd-link {
    font-size: 14px;
    line-height: 1.29;
    column-gap: 14px;
    margin-top: 0;
    margin-left: auto;
  }

  .scroll-downd-link-icon-wrapper {
    width: 38px;
    height: 38px;
  }

  .scroll-downd-link-icon {
    width: 22px;
    height: 22px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .hero-wrapper {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero-img-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1168px) {
  .hero-wrapper {
    max-width: 1200px;
    margin-bottom: 72px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero-img-desktop.jpg);
  }

  .hero-container {
    padding-top: 381px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1168px) {
  .hero-wrapper {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/hero-img-desktop@2x.jpg);
  }
}

/* =============================================
            OUR BENEFITS
============================================ */
.benefits-wrapper {
  max-width: 375px;
  background-color: #1e1823;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.benefits-list-item {
  padding-right: 28px;
}

.benefits-list-item:first-child {
  padding-bottom: 18px;
}

.benefits-list-item:last-child {
  padding-bottom: 16px;
}

.benefit-icon-wrapper {
  width: 62px;
  height: 62px;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefit-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 18px;
}

.benefit-descr {
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 768px) {
  .benefits-wrapper {
    max-width: 768px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .benefits-list-item {
    max-width: calc((100% - 32px) / 2);
  }

  .benefits-list-item:last-child {
    padding-bottom: 35px;
  }
}

@media screen and (min-width: 1168px) {
  .benefits-wrapper {
    max-width: 1200px;
  }

  .benefits-container {
    padding-right: 34px;
    padding-left: 34px;
  }

  .benefits-list {
    gap: 70px;
  }

  .benefits-list-item {
    max-width: calc((100% - 140px) / 3);
    position: relative;
  }

  .benefits-list-item:not(:last-child) {
    padding-right: 18px;
  }

  .benefits-list-item:last-child {
    padding-right: 0;
  }

  .benefits-list-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 50%;
    width: 1px;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
  }
}

/* =============================================
            INGREDIENTS
============================================ */
.ingredisents {
  margin-top: 30px;
}

.section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  max-width: 283px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.ingredients-section-title {
  margin-bottom: 24px;
}

.section-text {
  line-height: 1.29;
  text-align: center;
  margin-bottom: 32px;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ingredients-list-item {
  padding: 28px;
  border-radius: 15px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.ingredients-list-item:nth-child(odd) .ingredient-img-descr {
  color: #ffffff;
}

.ingredients-list-item:nth-child(even) {
  border: 1px solid #fd9222;
}

.ingredients-list-item:nth-child(4n - 3) {
  background-color: #fd9222;
}

.ingredients-list-item:nth-child(4n - 1) {
  background-color: #1e1823;
}

.ingredient-img {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.ingredient-img-descr {
  font-weight: 600;
  line-height: 1.29;
  text-transform: uppercase;
}

.ingredient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 28px;
  background-color: #ffffff;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ingredients-list-item:hover .ingredient-overlay,
.ingredients-list-item:focus .ingredient-overlay {
  transform: translateY(0);
}

.ingredient-overlay-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.ingredient-overlay-tags-list {
  display: flex;
  column-gap: 6px;
  align-items: center;
  margin-bottom: 14px;
}

.ingredient-overlay-tags-list-item {
  font-size: 10px;
  line-height: 1.2;
  border-radius: 35px;
  padding: 6px 16px;
  border: 1px solid #fd9222;
  text-wrap: nowrap;
}

.ingredient-overlay-tags-list-item:first-child {
  color: #ffffff;
  background-color: #fd9222;
  border: none;
}

@media screen and (min-width: 768px) {
  .ingredisents {
    margin-top: 40px;
  }

  .section-title {
    font-size: 24px;
    line-height: 1.17;
  }

  .ingredients-section-title {
    max-width: 411px;
    margin-bottom: 28px;
  }

  .section-text {
    max-width: 486px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .ingredients-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .ingredients-list-item {
    max-width: calc((100% - 32px) / 2);
    width: 100%;
  }
}

@media screen and (min-width: 1168px) {
  .ingredisents {
    margin-top: 50px;
  }

  .ingredients-list {
    gap: 19px;
  }

  .ingredients-list-item {
    padding: 28px 32px;
    max-width: calc((100% - 57px) / 4);
  }
}

/* =============================================
            HOW IT'S MADE?
============================================ */
.how-its-made-img {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.how-its-made-description-wrapper {
  padding: 20px 14px;
  border-radius: 15px;
  background-color: #ffffff;
}

.recipe-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 20px;
}

.recipe-steps {
  position: relative;
  padding-left: 16px;
}

.recipe-steps:not(:last-child) {
  margin-bottom: 18px;
}

.recipe-steps::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 5px;
  left: 0;
  background-color: #4c4c4c;
  border-radius: 100%;
  border: 1px solid #eceded;
}

.steps-descr {
  line-height: 1.29;
}

@media screen and (min-width: 768px) {
  .section-title {
    margin-bottom: 50px;
  }

  .how-its-made-content-wrapper {
    max-width: 614px;
    margin-left: auto;
    margin-right: auto;
  }

  .how-its-made-description-wrapper {
    padding: 32px;
  }

  .recipe-title {
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 1168px) {
  .how-its-made-content-wrapper {
    display: flex;
    column-gap: 20px;
    max-width: 1168px;
  }

  .how-its-made-description-wrapper {
    max-width: 516px;
  }

  .recipe-steps:not(:last-child) {
    margin-bottom: 24px;
  }
}

/* =============================================
            REWIEVS
============================================ */
.rewievs-list {
  display: none;
}

/* Swiper */
.swiper {
  width: 335px;
  height: 275px;
  margin-bottom: 32px;

  .swiper-wrapper {
    box-sizing: border-box;
  }
  .swiper-slide {
    margin-top: 42px;
  }

  .swiper-scrollbar-horizontal,
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .swiper-pagination {
    display: flex;
    gap: 13px;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 80px;
    height: 13px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: rgba(17, 17, 17, 0.6);
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 28px;
    height: 13px;
    border-radius: 5px;
    margin: 0;
    background-color: #fd9222;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 0);
  }

  .slide-content {
    position: relative;
    min-height: 200px;
    padding: 56px 18px 18px 18px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    background-color: #ffffff;
  }
}
.rewiever-img {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rewiver-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
}

.rewiev-text {
  line-height: 1.29;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.rewiev-btn {
  display: block;
  background-color: transparent;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  border: 1px solid #fd9222;
  border-radius: 100px;
  min-width: 165px;
  height: 41px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.rewiev-btn:hover,
.rewiev-btn:focus {
  background-color: #fd9222;
  color: #ffffff;
  outline: transparent;
}

@media screen and (min-width: 768px) {
  .swiper {
    width: 704px;
    height: 285px;
    margin-bottom: 50px;

    .slide-content {
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 26px;
      max-width: calc((100% - 16px) / 2);
    }
  }

  .rewiev-btn {
    font-size: 18px;
    min-width: 222px;
    height: 50px;
  }
}

@media screen and (min-width: 1168px) {
  #my-swiper {
    display: none;
  }

  .rewiev-title {
    margin-bottom: 91px;
  }

  .rewievs-list {
    display: flex;
    column-gap: 28px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .rewiews-list-item {
    max-width: calc((100% - 56px) / 3);
    position: relative;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    padding-top: 56px;
    padding-bottom: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .rewiever-img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .rewiver-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    margin-bottom: 24px;
  }

  .rewiev-text {
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
  }
}

/* =============================================
            FOOTER
============================================ */
.footer-wrapper {
  max-width: 375px;
  background-color: #1e1823;
  margin-top: 30px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.footer-top-part {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  max-width: 300px;
  margin-bottom: 32px;
}

.contact-title {
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 14px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.contact-link {
  line-height: 1.29;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: #fd9222;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.footer-nav-link {
  font-weight: 500;
  line-height: 1.14;
}

.footer-form {
  display: flex;
  column-gap: 8px;
}

.footer-subs-input {
  width: 207px;
  height: 45px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  padding-left: 18px;
}

.footer-subs-input:focus {
  border: 1px solid #fd9222;
  outline: transparent;
}

.footer-subs-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.footer-subs-btn {
  border: none;
  min-width: 120px;
  height: 45px;
  border-radius: 100px;
  background-color: #fd9222;
  font-weight: 600;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    max-width: 768px;
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-top-part {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
  }

  .footer-title {
    font-size: 28px;
    line-height: 1.21;
    margin-bottom: 0;
  }

  .footer-bottom-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
  }

  .footer-nav-list {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer-mob-list-item {
    display: none;
  }

  .footer-nav-link {
    padding: 0;
  }

  .footer-subs-input {
    width: 232px;
    padding-left: 24px;
  }

  .footer-subs-btn {
    min-width: 128px;
  }
}

@media screen and (min-width: 1168px) {
  .footer-wrapper {
    max-width: 1200px;
    margin-top: 50px;
  }

  .footer-subs-input {
    width: 313px;
    height: 52px;
  }

  .footer-subs-btn {
    min-width: 137px;
    height: 52px;
  }
}

/* =============================================
            MODAL OVERLAY
============================================ */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  width: 311px;
  background-color: #fafafa;
  padding: 32px 24px;
}

.close-modal-icon {
  width: 24px;
  height: 24px;
}

.close-modal-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  stroke: #111111;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal-btn:hover,
.close-modal-btn:focus {
  stroke: #fd9222;
}

.modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 255px;
  margin-bottom: 32px;
}

.modal-form-label {
  position: relative;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-bottom: 14px;
}

.modal-form-input {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  height: 45px;
  background-color: transparent;
  padding-left: 43px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: #fd9222;
  outline: transparent;
}

.modal-form-input-icon {
  position: absolute;
  bottom: 14px;
  left: 18px;
  width: 17px;
  height: 17px;
  stroke: #404040;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-input-icon {
  stroke: #fd9222;
}

.modal-form-textarea-label {
  margin-bottom: 18px;
}

.modal-form-textarea {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  padding: 14px 18px;
  height: 91px;
  resize: none;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-textarea:focus {
  border-color: #fd9222;
  outline: transparent;
}

.modal-form-textarea::placeholder {
  font-size: 13px;
  color: rgba(64, 64, 64, 0.3);
}

.modal-form-privacy-label {
  display: block;
  font-size: 12px;
  line-height: 1.33;
  color: rgba(64, 64, 64, 0.6);
  margin-bottom: 32px;
}

.privacy-policy-checkbox-wrapper {
  display: flex;
  column-gap: 12px;
}

.own-checkbox-square {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  display: inline-flex;
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy-checkbox:checked
  + .privacy-policy-checkbox-wrapper
  .own-checkbox-square {
  background-color: #fd9222;
  border-color: #fd9222;
  fill: #ffffff;
}

.privacy-policy-checkbox:focus
  + .privacy-policy-checkbox-wrapper
  .own-checkbox-square {
  outline: 2px solid #111111;
}

.privacy-policy-link {
  color: #fd9222;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.send-form-btn {
  border-radius: 100px;
  min-width: 93px;
  height: 41px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: none;
  background-color: #fd9222;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-form-btn:hover,
.send-form-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 517px;
    padding: 40px;
  }

  .close-modal-icon {
    width: 28px;
    height: 28px;
  }

  .close-modal-btn {
    top: 24px;
    right: 24px;
  }

  .modal-title {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    max-width: 298px;
    margin-bottom: 40px;
  }

  .modal-form-label {
    font-size: 14px;
    row-gap: 8px;
    margin-bottom: 18px;
  }

  .modal-form-input {
    border-radius: 13px;
    height: 68px;
    background-color: transparent;
    padding-left: 62px;
  }

  .modal-form-input-icon {
    bottom: 22px;
    left: 24px;
    width: 24px;
    height: 24px;
  }

  .modal-form-textarea {
    border-radius: 13px;
    padding: 22px 24px;
    height: 137px;
  }

  .modal-form-textarea::placeholder {
    font-size: 18px;
  }

  .modal-form-privacy-label {
    margin-bottom: 40px;
    font-size: 14px;
  }

  .privacy-policy-checkbox-wrapper {
    align-items: center;
  }

  .send-form-btn {
    min-width: 117px;
    height: 45px;
  }
}
